.loginContainer {
	height: 100Vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.loginContent {
	width: 400px;
	border: 1px solid lightgrey;
	border-radius: 30px;
	padding: 50px;
	background-color: #FCFCFC;
}

.loginContent > h1 {
	text-align: center;
}
