.userLandingContainer {
	height: 100Vh;
	display: flex;
	flex-direction: column;
}

.userLandingContentRow {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.userLandingHeaderRow {
	display: flex;
	border-bottom: 1px solid lightgrey;
	align-items: center;
	justify-content: center;
	padding: 7px 15px;
	color: 	#DC143C;
	background-color: #FCFCFC;
}

.userLandingHeaderRow > a {
	text-decoration: none;
	color: #DC143C;
}

.userLandingHeaderLeft {
	flex-grow: 2;
}

.userLandingThreadCol {
	width: 20%;
	border-right: 1px solid lightgrey;
}

.userLandingConvoCol {
	width: 80%;
}

.userLandingContentRow > div {
	height: 100%;
}
